%h1 Hey it's #{current_provider.name}
%p Your email is #{current_provider.email}
%p You provide #{current_provider.service}

%p Pending Appointments
-@my_appointments.each do |appointment|
	-if !appointment.confirmed?
		%li
			#{appointment.time} : #{appointment.date} |
			/ At: #{appointment.location}
			With: #{appointment.member.name}
			=link_to "Confirm", appointment_path(appointment), method: :put

%p Your Booked Appointments
%ul
	-@my_appointments.each do |appointment|
		%li 
			-if appointment.confirmed?
				#{appointment.time} : #{appointment.date} |
				/ At: #{appointment.location}
				With: #{appointment.member.name}
				=link_to "Delete", appointment_path(appointment), method: :delete

%p Your available times:

%ul
	-@my_availabilities.each do |availability|
		%li 
			#{availability.time} : #{availability.date}
			=link_to "Edit", edit_availability_path(availability)
			=link_to "Delete", availability_path(availability), method: :delete

=link_to "Add availability",new_availability_path

%p Your locations:
%ul
	-@locations.each do |location|
		%li 
			=location.name 

=link_to "Create a Location", new_location_path

%p Available to book:
%ul
	-@availabilities.each do |availability|
		%li 
			=link_to "#{availability.time} : #{availability.date}", availability_path(availability)
