=form_for(@location) do |f|
	= f.label :name, "Location name"
	= f.text_field :name
	%br
	= f.label :address, "Location Address"
	= f.text_field :address
	= f.hidden_field :provider_id, value: @provider.id
	= f.hidden_field :member_id, value: @member.id
	%brr
	= f.submit
