!!!
%html
  %head
    %meta{:content => "text/html;charset=UTF-8", "http-equiv" => "content-type"}/
    %meta{:charset => "utf-8"}/
    %title Webarch - Responsive Admin Dashboard
    %meta{:content => "width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no", :name => "viewport"}/
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "author"}/
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
  / BEGIN HEADER
  .header.navbar.navbar-inverse
    / BEGIN TOP NAVIGATION BAR
    .navbar-inner
    .header-seperation
      %ul#main-menu-toggle-wrapper.nav.pull-left.notifcation-center{:style => "display:none"}
        %li.dropdown
          %a#main-menu-toggle{:href => "#main-menu"}
            .iconset.top-menu-toggle-white
        / BEGIN LOGO
        %a{:href => "index.html"}
          %img.logo{:alt => "", "data-src" => "assets/img/logo.png", "data-src-retina" => "assets/img/logo2x.png", :height => "21", :src => "assets/img/logo.png", :width => "106"}/
        / END LOGO
        %ul.nav.pull-right.notifcation-center
          %li#header_task_bar.dropdown
            %a.dropdown-toggle.active{"data-toggle" => "", :href => "index.html"}
              .iconset.top-home
          %li#header_inbox_bar.dropdown
            %a.dropdown-toggle{:href => "email.html"}
              .iconset.top-messages
              %span#msgs-badge.badge 2
          %li#portrait-chat-toggler.dropdown{:style => "display:none"}
            %a.chat-menu-toggle{:href => "#sidr"}
              .iconset.top-chat-white
      / END RESPONSIVE MENU TOGGLER
      .header-quick-nav
        / BEGIN TOP NAVIGATION MENU
        .pull-left
          %ul.nav.quick-section
            %li.quicklinks
              %a#layout-condensed-toggle{:href => "#"}
                .iconset.top-menu-toggle-dark
          %ul.nav.quick-section
            %li.quicklinks
              %a{:href => "#"}
                .iconset.top-reload
            %li.quicklinks
              %span.h-seperate
            %li.quicklinks
              %a{:href => "#"}
                .iconset.top-tiles
            %li.m-r-10.input-prepend.inside.search-form.no-boarder
              %span.add-on
                %span.iconset.top-search
              %input.no-boarder{:name => "", :placeholder => "Search Dashboard", :style => "width:250px;", :type => "text"}/
              / BEGIN CHAT TOGGLER
          .pull-right
            .chat-toggler
              %a#my-task-list.dropdown-toggle{"data-content" => "", "data-original-title" => "Notifications", "data-placement" => "bottom", "data-toggle" => "dropdown", :href => "#"}
                .user-details
                  .username
                    %span.badge.badge-important 3
                    John
                    %span.bold Smith
                .iconset.top-down-arrow
              #notification-list{:style => "display:none"}
                %div{:style => "width:300px"}
                  .notification-messages.info
                    .user-profile
                      %img{:alt => "", "data-src" => "assets/img/profiles/d.jpg", "data-src-retina" => "assets/img/profiles/d2x.jpg", :height => "35", :src => "assets/img/profiles/d.jpg", :width => "35"}/
                    .message-wrapper
                      .heading David Nester - Commented on your wall
                      .description Meeting postponed to tomorrow
                      .date.pull-left A min ago
                    .clearfix
                  .notification-messages.danger
                    .iconholder
                      %i.icon-warning-sign
                    .message-wrapper
                      .heading Server load limited
                      .description Database server has reached its daily capicity
                      .date.pull-left 2 mins ago
                    .clearfix
                  .notification-messages.success
                    .user-profile
                      %img{:alt => "", "data-src" => "assets/img/profiles/h.jpg", "data-src-retina" => "assets/img/profiles/h2x.jpg", :height => "35", :src => "assets/img/profiles/h.jpg", :width => "35"}/
                    .message-wrapper
                      .heading You haveve got 150 messages
                      .description 150 newly unread messages in your inbox
                      .date.pull-left An hour ago
                    .clearfix
              .profile-pic
                %img{:alt => "", "data-src" => "assets/img/profiles/avatar_small.jpg", "data-src-retina" => "assets/img/profiles/avatar_small2x.jpg", :height => "35", :src => "assets/img/profiles/avatar_small.jpg", :width => "35"}/
            %ul.nav.quick-section
              %li.quicklinks
                %a#user-options.dropdown-toggle.pull-right{"data-toggle" => "dropdown", :href => "#"}
                  .iconset.top-settings-dark
                %ul.dropdown-menu.pull-right{"aria-labelledby" => "user-options", :role => "menu"}
                  %li
                    %a{:href => "user-profile.html"} My Account
                  %li
                    %a{:href => "calender.html"} My Calendar
                  %li
                    %a{:href => "email.html"}
                      My Inbox  
                      %span.badge.badge-important.animated.bounceIn 2
                  %li.divider
                  %li
                    %a{:href => "login.html"}
                      %i.fa.fa-power-off>
                        Log Out
              %li.quicklinks
                %span.h-seperate
              %li.quicklinks
                %a#chat-menu-toggle.chat-menu-toggle{:href => "#sidr"}
                  .iconset.top-chat-dark
                    %span#chat-message-count.badge.badge-important.hide 1
                .simple-chat-popup.chat-menu-toggle.hide
                  .simple-chat-popup-arrow
                  .simple-chat-popup-inner
                    %div{:style => "width:100px"}
                      .semi-bold David Nester
                      .message Hey you there
                      / END CHAT TOGGLER
        / END TOP NAVIGATION MENU
      / END TOP NAVIGATION BAR
    / END HEADER
    / BEGIN CONTAINER
  = yield

/ <% if member_signed_in? %>
/ 	Logged in as <strong><%= current_member.name %></strong> 
/ 	<%=link_to "Logout", destroy_member_session_path, method: :delete%>
/ <% elsif provider_signed_in? %>
/ 	Logged in as <strong><%= current_provider.name %></strong> 
/ 	<%=link_to "Logout", destroy_provider_session_path, method: :delete%>
/ <% else %>
/ 	<%=link_to "Login/SignUp", welcome_new_path%>
/ <% end %>

/ 	<% flash.each do |name, msg| %>
/   	<%= content_tag :div, msg, :id => "flash_#{name}" %>
/ 	<% end %>
  
 
